@if(Request.IsAuthenticated)
{
    <ul class="shift-right">
        <li>
            @Html.ActionLink("Hello  " + User.Identity.Name + "  ","null","null")
        </li>
    </ul>
    <style>
        .search{
            display:none;
        }
    </style>
}
