@media screen and (max-width: 1024px) {
    button{
        width: 10%;
        background-color: #5bc0de;
        border-radius:2px;
        color: white;
        margin-left:1%;
        padding: 10px 20px;
        border: none;    
        cursor: pointer;
        outline: none;
        text-align: center;
        font-weight: bold;
    }

    table {
        width: 75%;
        margin-left:12%;
        border-radius:4px;
    }

    h2{
        margin-left:39%;
    }
    
}

@media screen and (max-width: 414px) {
    button{
        width: 20%;
    }

     table {
        width: 60%;
        margin-left:6%;
        border-radius:3px;
    }

    table th{
        font-size:12px;
    }

    header{
        display:none;        
    }

     li {
     font-size: 12px;
     padding: 22px 2px;
    }
   
   .shift-right li{
        margin-top:2%;
    }

    h2{
        margin-left:35%;
        font-size:21px;
        margin-top: 12%;
    }   
  
}

@media screen and (max-width: 375px){
     table {
        width: 50%;
        margin-left:2%;
        border-radius:3px;
    }

    table th{
        font-size:12px;
    }
}
